@import url("bootstrap");
@import url("bootstrap-icons");

.jumbotron {
    height: 70vh;
}

.jumbotron img {
    z-index: 0;
}

.jumbotron-overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20vh !important;
    align-items: center;
    height: 100%;
}

.jumbotron-overlay h1{
    font-size: 500% !important;
}
.jumbotron-overlay p {
    font-size: 200% !important;
}
